form {
    input[type="name"],
    input[type="email"],
    input[type="phone"]{
        border    : 0;
        outline   : 0;
        background-color: #339923;
    }
    


    input[type="submit"] {
        background: $primary;
        border    : 0;
        outline   : 0;
        cursor    : pointer;

    }


}