nav {

  width          : 100%;
  overflow       : hidden;
  background     : $black;
  z-index        : 6;
  height         : 71px;
  display        : flex;
  justify-content: space-between;
  align-items    : center;

  img {
    height: 100%;
  }

  .label {
    font-weight   : 600;
    font-size     : 1em;
    text-transform: capitalize;
    color         : #fff;
  }

  .areaInfoNav {
    width: calc(100% - 74px);
  }

  .divToLogin {
    margin-right: 1em;
    color       : #fff;
  }

  a {
    margin-left   : 1em;
    letter-spacing: 1px;

    @include hover_ui(350ms, transparent, #0f181f);
    text-decoration: none;
    border-bottom  : 3px solid $primary;
    color          : #fff !important;

    &:hover {
      color        : $primary !important;
      border-bottom: 3px solid #fff;
    }
  }

  @media only screen and (max-width: 768px) {
    p {
      padding: 1em;
    }
  }
}