nav {
  position       : fixed;
  width          : 100%;
  overflow       : hidden;
  background     : #fff;
  box-shadow     : 0 0px 5px rgba(15, 23, 31, 0.5);
  z-index        : 6;
  height         : 71px;
  display        : flex;
  justify-content: space-between;
  align-items    : center;

  img {
    height: 100%;
  }

  .areaInfoNav {
    width: calc(100% - 74px);
  }

  a {
    letter-spacing: 1px;

    @include hover_ui(350ms, transparent, #0f181f);
    text-decoration: none;
    border-bottom  : 3px solid #facd36;

    &:hover {
      border-bottom: 3px solid #0f181f;
    }
  }

  @media only screen and (max-width: 768px) {
    p {
      padding: 1em;
    }
  }
}