.aws-btn {
    --slider-height-percentage   : 60%;
    --slider-transition-duration : 525ms;
    --organic-arrow-thickness    : 4px;
    --organic-arrow-border-radius: 0px;
    --organic-arrow-height       : 40px;
    --organic-arrow-color        : #519c97;
    --control-button-width       : 10%;
    --control-button-height      : 25%;
    --control-button-background  : transparent !important;
    --control-bullet-color       : #5fb7b2;
    --control-bullet-active-color: #519c97;
    --loader-bar-color           : #facf37;
    --loader-bar-height          : 6px;
}

.awssld__bullets {
    display: none !important;
}

.awssld__wrapper {
    height: 767px !important;
}
.awssld{
    --loader-bar-color: #FDCF37!important;
}
// .sliderBox {}

.areaLabel {
    z-index  : 3;
    font-size: 2em;
    color    : #fff;

    p {
        position   : absolute;
        left       : 8%;
        top        : 55%;
        right      : 34%;
        line-height: normal;
        font-size  : 2em;
        text-shadow: 2px 2px 2px #000;

        @media (max-width: 767px) {
            bottom     : 10%;
          
            font-size  : 34px;
            top        : auto;
            left       : 2%;
            right      : auto;
            font-weight: 400;
            text-shadow: 2px 2px 2px rgba(0, 0, 0, .3);
        }
    }


}