.aws-btn {

    --slider-height-percentage   : 60%;
    --slider-transition-duration : 525ms;
    --organic-arrow-thickness    : 4px;
    --organic-arrow-border-radius: 0px;
    --organic-arrow-height       : 40px;
    --organic-arrow-color        : #519c97;
    --control-button-width       : 10%;
    --control-button-height      : 25%;
    --control-button-background  : transparent !important;
    --control-bullet-color       : #5fb7b2;
    --control-bullet-active-color: #519c97;
    --loader-bar-color           : #facf37;
    --loader-bar-height          : 6px;
}

.awssld__bullets {
    display: none !important;
}

// .sliderBox {}

.areaLabel {
    z-index  : 3;
    font-size: 2em;
    color    : #fff;

    p {
        position: absolute;
        left    : 8%;
        top     : 55%;
        right   : 60%;

        line-height  : normal;

        @media (max-width: 767px) {
            bottom     : 10%;
            line-height: 106%;
            font-size  : 21px;
            top        : auto;
            left       : 3%;
            right      : auto;
            font-weight: 300;
        }
    }

    &::before {
        content   : "";
        background: rgba(15, 24, 31, 0.53);
        position  : absolute;
        width     : 100%;
        height    : 100%;
        top       : 0;
        left      : 0;
    }
}